<!DOCTYPE html>
<html>
  <head>
    <title> The Genus Pan </title>
	
	<style>
    <!-- You can include css code here and it'll work jus' fine-->
	<!-- You can also include style=" " in the head tags-->
    </style>
	
	
	<!-- Used to link to the css file-->
	<link href="./styling.css" type="text/css" rel="stylesheet">
	
  </head>
	<!-- Random comment: indentation is 2 spaces...not tab! -->
  <nav>
    <ul>
	  <li><a href="#introduction">Introduction</a></li>
	  <li><a href="#habitat">Habitat</a></li>
 	  <li><a href="#media">Media</a></li>
	</ul>
  </nav>
  
  <body>
	<p><em>The following dummy article is based on the wikipedia article below:</em><br/></p>
	<a href="https://en.wikipedia.org/wiki/Chimpanzee">Chimpanzee/Wikipedia</a>
    <h1 class="title"> The Chimpanzee (in templates) </h1>
    <div th:each="source : ${sources}">
  		<input name="source" type="radio" th:value="${source}"/><label for="source" th:text="| &nbsp; ${source} |">Something is wrong !</label>
	</div>
	<select> <!-- th:field="*{dropdownSelectedValue}" -->
  		<option 
	      th:each="dropdownValue: ${singleSelectAllValues}"
	      th:value="${dropdownValue}"
	      th:text="${dropdownValue}" >
	    </option>
	</select>
	<div id="introduction">
      <h2  id="id-1">About Chimpanzees</h2>
      <p>The taxonomical genus (<em>Pan</em>) is currently found in the Congo jungle and West Africa. Its conservation status is currently <strong>Endangered</strong>.<br /><br /> The genus consists of two extant species: the common chimpanzee and the bonobo.</p>
      <h3>Species</h3>
      <ul class="list">
        <li>Troglodytes</li>
        <li>Paniscus</li>
      </ul>
      <h3>Features</h3>
      <p>Their hair is typically black or brown. Males and females differ in size and appearance.
	    Both chimps and bonobos are some of the most social great apes, with social bonds occurring among individuals in large communities. Fruit is the most important component of a chimpanzee's diet; but they will also eat vegetation, bark, honey, insects and even other chimps or monkeys.
		They can live over 30 years in both the wild and captivity.
		They are among the largest-brained and most intelligent of primates; they use a variety of sophisticated tools and construct elaborate sleeping nests each night from branches and foliage.
	  </p>
    </div>
    <div id="habitat">
      <h2 class="specialh2">Habitat</h2>
      <h3>Areas with Large Pan Populations</h3>
	  <ol>
	    <li>West Africa</li>
		<li>Central Africa</li>
	  </ol>
    </div>
    <div id="media">
      <h2>Media</h2>
	  <div class="image"><a href="https://en.wikipedia.org/wiki/Chimpanzee" target="_blank"><p> Common chimpanzee (Pan Troglodytes) on the left, Bonobo (Pan Paniscus) on the right</p></a></div>
      <video id="video" src ="chimp.webm" width="500" height="400" controls><p>Video not supported</p></video>	  
	</div>
	<nav>
	  <a href="table page.html" target="_blank">Table page</a>
	</nav>
  </body>
</html>