<div class = 'container'>
  <div class = 'row'>

    <div class = 'col-md-4'>
      <form (ngSubmit) = 'onSearch()'>
        <div class = 'row'>
          <label>
            Start Date
            <input type="datetime-local" 
                    class = 'form-control'
                    name="startDate" value="2019-00-00T00:00"
                    min="0000-00-00T00:00"
                    [(ngModel)] = 'startDate'>
          </label>
        </div>
        <div class = 'row'>
          <label>
            End Date
            <input type="datetime-local" 
                    class = 'form-control'
                    name="endDate" value="2019-00-00T00:00"
                    min="0000-00-00T00:00" [(ngModel)] = 'endDate'>
          </label>     
        </div>
        <div class = 'row'>     
          <label>
              Rating
              <select class = 'form-control' name = 'rating' [(ngModel)] = 'rating'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </label>         
        </div>
        <div class = 'row'>
          <label>
            Room Capacity (# people) (minimum)
            <input class = 'form-control' min = 0 type = 'number' name = 'roomCapacity' [(ngModel)] = 'roomCapacity'>
          </label>
        </div>
        <div class = 'row'>
          <label>
            Area (ft^2) (minimum)
            <input class = 'form-control' min = 0 type = 'number' name = 'area' [(ngModel)] = 'area'>
          </label>
        </div>
        <div class = 'row'>
          <label>
            Price ($) (maximum)
            <input class = 'form-control' min = 0 type = 'number' name = 'price' [(ngModel)] = 'price'>
          </label>
        </div>
        <div class = 'row'>
          <button type = 'submit' class = 'btn btn-primary'>Search</button>
        </div>
      </form>
    </div>

    <div class = 'col-md-8'>
      <table class = 'table table-striped'>
        <thead>
          <th>Room Number</th>
          <th>View Type</th>
          <th>Capacity</th>
          <th>Price</th>
          <th>Area</th>
        </thead>
        <tbody>
          <tr *ngFor = 'let room of rooms'>
              <td>{{room.room_id.room_number}}</td>
              <td>{{room.view_type}}</td>
              <td>{{room.capacity}}</td>
              <td>${{room.price}} CAD</td>
              <td>{{room.area}} ft^2</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
