<div class="container">
    <form>
        
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" name="id" class="form-control" [(ngmodel)]="unit.id">
        </div>

        <div class="form-group">
            <label for="name">Id</label>
            <input type="text" name="name" class="form-control" [(ngmodel)]="unit.name">
        </div>

        <div class="form-group">
            <label for="rating">Id</label>
            <input type="text" name="rating" class="form-control" [(ngmodel)]="unit.rating">
        </div>

    </form>
</div>
