<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-12'>
      <button type = 'button' class = 'btn btn-primary' (click) = 'onBack()'>Back</button>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-12'>
      <ngb-tabset>

        <ngb-tab title = 'Customers'>
          <ng-template ngbTabContent>
            <button class = 'btn btn-primary' (click)='openCreateCustomer(createCustomer)'>Add Customer</button>
            <table class = 'table table-striped'>
              <thead>
                <th>SIN</th>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor = 'let customer of customers'>
                  <td>{{customer.sin}}</td>
                  <td>{{customer.getName()}}</td>
                  <td>{{customer.getAddress()}}</td>
                  <td>
                    <button class = 'btn btn-primary' (click)='openUpdateCustomer(updateCustomer, customer)'>Update</button>
                  </td>
                  <td>
                    <button class = 'btn btn-danger' (click)='onDeleteCustomer(customer)'>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>

        <ngb-tab title = 'Employees'>
          <ng-template ngbTabContent>
            <button class = 'btn btn-primary' (click)='openCreateEmployee(createEmployee)'>Add Employee</button>
            <table class = 'table table-striped'>
              <thead>
                <th>SIN</th>
                <th>Name</th>
                <th>Address</th>
                <th>Hotel Chain</th>
                <th>Hotel ID</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor = 'let employee of employees'>
                  <td>{{employee.sin}}</td>
                  <td>{{employee.getName()}}</td>
                  <td>{{employee.getAddress()}}</td>
                  <td>{{employee.hotel.hotelChain.hcName}}</td>
                  <td>{{employee.hotel.hotelId}}</td>
                  <td>
                    <button class = 'btn btn-primary' (click)='openUpdateEmployee(updateEmployee, employee)'>Update</button>
                  </td>
                  <td>
                    <button class = 'btn btn-danger' (click)='onDeleteEmployee(employee)'>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>

        <ngb-tab title = 'Hotels'>
          <ng-template ngbTabContent>
            <button class = 'btn btn-primary' (click)='openCreateHotel(createHotel)'>Add Hotel</button>
            <table class = 'table table-striped'>
              <thead>
                <th>Hotel Chain</th>
                <th>Hotel ID</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Rating</th>
                <th>Number of Rooms</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor = 'let hotel of hotels'>
                  <td>{{hotel.hotelChain.hcName}}</td>
                  <td>{{hotel.hotelId}}</td>
                  <td>{{hotel.getAddress()}}</td>
                  <td>{{hotel.phoneNumber}}</td>
                  <td>{{hotel.rating}}</td>
                  <td>{{hotel.numberOfRooms}}</td>
                  <td>
                    <button class = 'btn btn-primary' (click)='openUpdateHotel(updateHotel, hotel)'>Update</button>
                  </td>
                  <td>
                    <button class = 'btn btn-danger' (click)='onDeleteHotel(hotel)'>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>

        <ngb-tab title = 'Rooms'>
          <ng-template ngbTabContent>
            <button class = 'btn btn-primary' (click)='openCreateRoom(createRoom)'>Add Room</button>
            <table class = 'table table-striped'>
              <thead>
                <th>Hotel Chain</th>
                <th>Hotel ID</th>
                <th>Address</th>
                <th>Room Number</th>
                <th>View Type</th>
                <th>Capacity</th>
                <th>Price ($ CAD)</th>
                <th>Extendable</th>
                <th>Area (ft^2)</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor = 'let room of rooms'>
                  <td>{{room.hotel.hotelChain.hcName}}</td>
                  <td>{{room.hotel.hotelId}}</td>
                  <td>{{room.hotel.getAddress()}}</td>
                  <td>{{room.roomNumber}}</td>
                  <td>{{room.viewType}}</td>
                  <td>{{room.capacity}}</td>
                  <td>{{room.price}}</td>
                  <td>{{room.extendable ? 'Yes' : 'No'}}</td>
                  <td>{{room.area}}</td>
                  <td>
                    <button class = 'btn btn-primary' (click)='openUpdateRoom(room)'>Update</button>
                  </td>
                  <td>
                    <button class = 'btn btn-danger' (click)='onDeleteRoom(room)'>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>
    </div>
  </div> 
</div>


<ng-template #createCustomer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = 'row'>
      <label>
        SIN 
        <input type = 'text' class = 'form-control' name = 'sin' [(ngModel)] = 'customer.sin'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Given Name
        <input type = 'text' class = 'form-control' name = 'givenName' [(ngModel)] = 'customer.givenName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Family Name
        <input type = 'text' class = 'form-control' name = 'familyName' [(ngModel)] = 'customer.familyName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Number
        <input type = 'number' min = '0' class = 'form-control' name = 'streetNumber' [(ngModel)] = 'customer.streetNumber'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Name
        <input type = 'text' class= 'form-control' name = 'streetName' [(ngModel)] = 'customer.streetName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        City
        <input type = 'text' class= 'form-control' name = 'city' [(ngModel)] = 'customer.city'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        State
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'state' [(ngModel)] = 'customer.state'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Country
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'country' [(ngModel)] = 'customer.country'>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onCreateCustomer(modal)">Create</button>
  </div>
</ng-template>


<ng-template #updateCustomer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = 'row'>
      <label>
        SIN 
        <h5>{{customer.sin}}</h5>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Given Name
        <input type = 'text' class = 'form-control' name = 'givenName' [(ngModel)] = 'customer.givenName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Family Name
        <input type = 'text' class = 'form-control' name = 'familyName' [(ngModel)] = 'customer.familyName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Number
        <input type = 'number' min = '0' class = 'form-control' name = 'streetNumber' [(ngModel)] = 'customer.streetNumber'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Name
        <input type = 'text' class= 'form-control' name = 'streetName' [(ngModel)] = 'customer.streetName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        City
        <input type = 'text' class= 'form-control' name = 'city' [(ngModel)] = 'customer.city'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        State
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'state' [(ngModel)] = 'customer.state'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Country
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'country' [(ngModel)] = 'customer.country'>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onUpdateCustomer(modal)">Update</button>
  </div>
</ng-template>



<ng-template #createEmployee let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = 'row'>
      <label>
        SIN 
        <input type = 'text' class = 'form-control' name = 'sin' [(ngModel)] = 'employee.sin'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Given Name
        <input type = 'text' class = 'form-control' name = 'givenName' [(ngModel)] = 'employee.givenName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Family Name
        <input type = 'text' class = 'form-control' name = 'familyName' [(ngModel)] = 'employee.familyName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Number
        <input type = 'number' min = '0' class = 'form-control' name = 'streetNumber' [(ngModel)] = 'employee.streetNumber'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Name
        <input type = 'text' class= 'form-control' name = 'streetName' [(ngModel)] = 'employee.streetName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        City
        <input type = 'text' class= 'form-control' name = 'city' [(ngModel)] = 'employee.city'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        State
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'state' [(ngModel)] = 'employee.state'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Country
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'country' [(ngModel)] = 'employee.country'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Hotel ID
        <input type = 'number' min = '0' class = 'form-control' name = 'hotelId' [(ngModel)] = 'employee.hotel.hotelId'>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onCreateEmployee(modal)">Create</button>
  </div>
</ng-template>


<ng-template #updateEmployee let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = 'row'>
      <label>
        SIN 
        <h5>{{employee.sin}}</h5>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Given Name
        <input type = 'text' class = 'form-control' name = 'givenName' [(ngModel)] = 'employee.givenName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Family Name
        <input type = 'text' class = 'form-control' name = 'familyName' [(ngModel)] = 'employee.familyName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Number
        <input type = 'number' min = '0' class = 'form-control' name = 'streetNumber' [(ngModel)] = 'employee.streetNumber'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Name
        <input type = 'text' class= 'form-control' name = 'streetName' [(ngModel)] = 'employee.streetName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        City
        <input type = 'text' class= 'form-control' name = 'city' [(ngModel)] = 'employee.city'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        State
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'state' [(ngModel)] = 'employee.state'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Country
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'country' [(ngModel)] = 'employee.country'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Hotel ID
        <input type = 'number' min = '0' class = 'form-control' name = 'hotelId' [(ngModel)] = 'employee.hotel.hotelId'>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onUpdateEmployee(modal)">Update</button>
  </div>
</ng-template>



<ng-template #createHotel let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Hotel</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class = 'row'>
        <label>
          Hotel Chain
          <input type = 'text' class = 'form-control' name = 'hcName' [(ngModel)] = 'hotel.hotelChain.hcName'>
        </label>
      </div>
      <div class = 'row'>
        <label>
          Street Number
          <input type = 'number' min = '0' class = 'form-control' name = 'streetNumber' [(ngModel)] = 'hotel.streetNumber'>
        </label>
      </div>
      <div class = 'row'>
        <label>
          Street Name
          <input type = 'text' class = 'form-control' name = 'streetName' [(ngModel)] = 'hotel.streetName'>
        </label>
      </div>
      <div class = 'row'>
        <label>
          City
          <input type = 'text' class = 'form-control' name = 'city' [(ngModel)] = 'hotel.city'>
        </label>
      </div>
      <div class = 'row'>
        <label>
          State
          <input type = 'text' maxlength = '2' class= 'form-control' name = 'state' [(ngModel)] = 'hotel.state'>
        </label>
      </div>
      <div class = 'row'>
        <label>
          Country
          <input type = 'text' maxlength = '2' class= 'form-control' name = 'country' [(ngModel)] = 'hotel.country'>
        </label>
      </div>
      <div class = 'row'>
        <label>
          Rating
          <select class = 'form-control' name = 'rating' [(ngModel)] = 'hotel.rating'>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
      </div>
      <div class = 'row'>
        <label>
          Phone Number
          <input type = 'text' class = 'form-control' name = 'phoneNumber' [(ngModel)] = 'hotel.phoneNumber'>
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onCreateHotel(modal)">Create</button>
    </div>
  </ng-template>



<ng-template #updateHotel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Hotel</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = 'row'>
      <label>
        Hotel Chain
        <h5>{{hotel.hotelChain.hcName}}</h5>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Hotel ID
        <h5>{{hotel.hotelId}}</h5>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Number
        <input type = 'number' min = '0' class = 'form-control' name = 'streetNumber' [(ngModel)] = 'hotel.streetNumber'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Street Name
        <input type = 'text' class = 'form-control' name = 'streetName' [(ngModel)] = 'hotel.streetName'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        City
        <input type = 'text' class = 'form-control' name = 'city' [(ngModel)] = 'hotel.city'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        State
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'state' [(ngModel)] = 'hotel.state'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Country
        <input type = 'text' maxlength = '2' class= 'form-control' name = 'country' [(ngModel)] = 'hotel.country'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Rating
        <select class = 'form-control' name = 'rating' [(ngModel)] = 'hotel.rating'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Phone Number
        <input type = 'text' class = 'form-control' name = 'phoneNumber' [(ngModel)] = 'hotel.phoneNumber'>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onUpdateHotel(modal)">Update</button>
  </div>
</ng-template>


<ng-template #createRoom let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Room</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = 'row'>
      <label>
        Hotel ID
        <input type = 'text' class = 'form-control' name = 'hotelId' [(ngModel)] = 'room.hotel.hotelId'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Room Number
        <input type = 'number' min = '0' class = 'form-control' name = 'roomNumber' [(ngModel)] = 'room.roomNumber'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        View Type
        <select class = 'form-control' name = 'viewType' [(ngModel)] = 'room.viewType'>
          <option>Sea</option>
          <option>Mountain</option>
        </select>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Price
        <input type = 'number' min = '0' class = 'form-control' name = 'price' [(ngModel)] = 'room.price'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Extendable
        <select class = 'form-control' name = 'extendable' [(ngModel)] = 'room.extendable'>
          <option value = 1>True</option>
          <option value = 0>False</option>
        </select>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Area 
        <input type = 'number' min = '0' class = 'form-control' name = 'area' [(ngModel)] = 'room.area'>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onCreateRoom(modal)">Create</button>
  </div>
</ng-template>



<ng-template #updateRoom let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Room</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = 'row'>
      <label>
        Hotel ID
        <h5>{{room.hotel.hotelId}}</h5>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Room Number
        <h5>{{room.roomNumber}}</h5>
      </label>
    </div>
    <div class = 'row'>
      <label>
        View Type
        <select class = 'form-control' name = 'viewType' [(ngModel)] = 'room.viewType'>
          <option>Sea</option>
          <option>Mountain</option>
        </select>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Price
        <input type = 'number' min = '0' class = 'form-control' name = 'price' [(ngModel)] = 'room.price'>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Extendable
        <select class = 'form-control' name = 'extendable' [(ngModel)] = 'room.extendable'>
          <option value = 1>True</option>
          <option value = 0>False</option>
        </select>
      </label>
    </div>
    <div class = 'row'>
      <label>
        Area 
        <input type = 'number' min = '0' class = 'form-control' name = 'area' [(ngModel)] = 'room.area'>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onUpdateRoom(modal)">Update</button>
  </div>
</ng-template>