<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title> Forum submit </title>
	
	<style>
    <!-- You can include css code here and it'll work jus' fine-->
	<!-- You can also include style=" " in the head tags-->
    </style>
	
	
	<!-- Used to link to the css file-->
	<link href="./styling.css" type="text/css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 
  </head>
	<!-- Random comment: indentation is 2 spaces...not tab! -->
  <nav>
    <ul>
	  <li><a href="#introduction">Introduction</a></li>
	</ul>
  </nav>
  
  <body>
    <h1 class="title"> Spring Boot Test </h1>
	<div id="introduction">
	  <h1 class="title">Form</h1>
      <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	  <p>Id: <input type="text" th:field="*{id}" /></p>
          <p>Message: <input type="text" th:field="*{content}" /></p>
          <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
      </form>
    </div>
   
  </body>
</html>